<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ecopic?useSLL=false?autoReconnect=true?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.ecopic.entity.Users"/>
        <mapping class="com.ecopic.entity.Review"/>
        <mapping class="com.ecopic.entity.Customer"/>
        <mapping class="com.ecopic.entity.Category"/>
        <mapping class="com.ecopic.entity.PictureOder"/>
        <mapping class="com.ecopic.entity.OderDetail"/>
        <mapping class="com.ecopic.entity.Picture"/>
    </session-factory>
</hibernate-configuration>
